In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('crypto.csv', header = None)
df

               0
0       0.000015
1       0.000023
2       0.000033
3       0.000037
4       0.000037
5       0.000037
6       0.000036
7       0.000073
8       0.000072
9       0.000073
10      0.000067
11      0.000069
12      0.000082
13      0.000113
14      0.000111
15      0.000112
16      0.000124
17      0.000124
18      0.000113
19      0.000109
20      0.000098
21      0.000090
22      0.000086
23      0.000085
24      0.000085
25      0.000084
26      0.000082
27      0.000081
28      0.000060
29      0.000037
...          ...
632188  0.113194
632189  0.087992
632190  0.101825
632191  0.334725
632192  0.690254
632193  0.625767
632194  0.230924
632195  0.114744
632196  0.089624
632197  0.143865
632198  0.112651
632199  0.126489
632200  0.145279
632201  0.132727
632202  0.126085
632203  0.225772
632204  0.129094
632205  0.228046
632206  0.323451
632207  0.073590
632208  0.074413
632209  0.061524
632210  0.130473
632211  0.211989
632212  0.070326
632213  0.045676
632214  0.057948
632215  0.082787
632216  0.091944
632217  0.089511

[632218 rows x 1 columns]

In [2]:
df.describe()

                  0
count  6.322180e+05
mean   2.030181e+02
std    8.678734e+03
min    2.925000e-09
25%    8.070000e-04
50%    9.733500e-03
75%    1.198202e-01
max    2.383502e+06

The history saving thread hit an unexpected error (OperationalError('database is locked',)).History will not be written to the database.